/* =============================
   GLOBAL VARIABLES
============================= */
:root {
    --color-primary: #f4f4f4;
    --color-secondary: #4a90e2;
    --color-btn-hover: #357abd;
    --color-text: #333;

    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size-normal: 1rem;
    --font-weight-normal: 400;
    --font-weight-bold: 600;

    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 20px;
    --border-radius: 8px;
}

/* =============================
   RESET & BASE STYLES
============================= */
* {
    box-sizing: border-box;
    margin: var(--spacing-sm);
    padding: var(--spacing-md);
    font-family: var(--font-main);
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* =============================
   LAYOUT STRUCTURE
============================= */
header {
    display: flex;
    flex-direction: row;
}

/* RESET */
.header {
    display: none;
}

.container {
    display: none;
}

.pop-up {
    display: none;
}

.modal-overlay {
    display: none;
}

#lessons-panel {
    display: none;
}

#chage-class-name-input {
    display: none;
}